@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');

@font-face {
	font-family: "Roboto";
	src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap");
	font-weight: 700;
	font-style: normal;
}

@keyframes blink-edit {

	0%,
	100% {
		outline-color: black;
		/* Цвет обводки в начале и конце цикла */
	}

	50% {
		outline-color: transparent;
		/* Обводка исчезает посередине цикла */
	}
}

@keyframes blink-border {

	0%,
	100% {
		outline-color: rgb(14, 211, 237);
		/* Цвет обводки в начале и конце цикла */
	}

	50% {
		outline-color: transparent;
		/* Обводка исчезает посередине цикла */
	}
}

[apxu_samosbor_map_cluster]>*,
[apxu_samosbor_map_block] {

	[mol_view] {
		transition: none;
	}

	[mol_icon] {
		color: white;
		filter: unset;
		z-index: 100;
	}

	--block-type-stroke-color: #00000000;

	&[block-type=destroyed] {
		--block-type-stroke-color: #EEFF00;
	}

	&[block-type=infected] {
		--block-type-stroke-color: #FF0000;
	}

	&[block-type=frozen] {
		--block-type-stroke-color: #0051FF;
	}

	padding: calc(var(--transition-length) / 2);

	[apxu_samosbor_map_block_content] {
		z-index: 501;
	}

	&:not([visible]):has([apxu_samosbor_map_block_content]:not([interfloor])) {
		pointer-events: none;
	}

	&:not([visible]) {
		[apxu_samosbor_map_block_content]:not([interfloor]) {
			visibility: hidden;
			z-index: 500;
		}

		[apxu_samosbor_map_block_content][interfloor] {
			opacity: 0.3;
			z-index: 500;
		}
	}

	animation: blink-border 2s infinite;
	outline: unset;

	&[selected] {
		outline: 5px solid rgb(14, 211, 237);
	}

	top: 0px;
	left: 0px;
	position: absolute;

	[apxu_samosbor_map_block_transition] {
		--transition-width: 50px;
		--transition-height: 50px;
		box-sizing: content-box;
		z-index: 4000;
		position: absolute;
		background-color: #FFFFFF80;

		&[hidden] {
			display: none;
		}

		&[direction=vertical] {
			height: var(--transition-width);
			width: var(--transition-length);

			border-bottom: 10px solid white;
			border-top: 10px solid white;
			translate: 0px -10px;
		}

		&[direction=horizontal] {
			height: var(--transition-length);
			width: var(--transition-width);
			border-left: 10px solid white;
			border-right: 10px solid white;
			translate: -10px;
		}


	}

	[apxu_samosbor_map_block_part] {
		width: var(--part-width);
		height: var(--part-width);

		&::before {
			left: 0px;
			background-color: var(--main);
		}
	}

	[apxu_samosbor_map_block_profession_part],
	[apxu_samosbor_map_block_places_part] {

		&>* {
			width: 100%;
			height: 100%;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			gap: 26px;

			padding: 13px;
			justify-content: flex-start;
			align-items: flex-start;

			&>* {
				width: 34px;
				height: 34px;
			}
		}

	}

	[apxu_samosbor_map_block_floor_part] {
		padding-top: 50px;
		padding-right: 11px;
		padding-bottom: 50px;
		padding-left: 11px;
		gap: 15px;

		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;

		&>* {
			display: flex;
			z-index: 10;
			font-family: "Roboto";
			font-weight: 700;
			font-size: 32px;
			line-height: 20px;
			letter-spacing: 0;
			text-align: center;
			color: white;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			flex-wrap: wrap;
			align-self: stretch;
			justify-items: stretch;

			&>* {
				width: 34px;
				height: 34px;
				display: flex;
				align-items: center;
				justify-content: center;
			}

		}
	}

	[apxu_samosbor_map_block_flight] {
		&[status="blocked"] {
			[mol_icon] {
				opacity: 0.25;
			}

		}

		[mol_icon] {
			width: var(--duo-icon-size);
			height: var(--duo-icon-size);

			&:only-child {
				width: var(--solo-icon-size);
				height: var(--solo-icon-size);
			}
		}
	}

	&[editing] {

		[apxu_samosbor_map_block_flight],
		[apxu_samosbor_map_block_passage] {
			z-index: 2000;

			&::after {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				outline: 3px solid black;
				animation: blink-edit 2s infinite;
			}

		}

		[apxu_samosbor_map_block_up_middle_passage],
		[apxu_samosbor_map_block_down_middle_passage],
		[apxu_samosbor_map_block_left_passage],
		[apxu_samosbor_map_block_right_passage] {
			z-index: 2000;

			&::after {
				outline: unset;
			}
		}

		[apxu_samosbor_map_block_fence] {
			outline: 3px solid black;
			animation: blink-edit 2s infinite;
		}
	}

	[apxu_samosbor_map_block_passage] {
		&::before {
			background-color: var(--main);
		}

		&[type=normal],
		&[type=stairs_up],
		&[type=stairs_down] {
			&::before {
				background-color: var(--bg);
			}
		}

		[apxu_samosbor_map_block_passage_interfloor] {
			display: flex;
			gap: 10px;
			justify-content: center;
			align-items: center;
		}

		[apxu_samosbor_map_block_passage_floor_inc] {
			z-index: 2000;
			font-family: "Roboto";
			font-weight: 700;
			font-size: 26px;
			line-height: 20px;
			letter-spacing: 0;
			text-align: center;
			color: white;
		}

		[apxu_samosbor_map_block_passage_stairs] {
			width: 30px;
			height: 30px;
		}
	}

	[apxu_samosbor_map_block_middle_flight] {
		&::before {
			background-color: var(--main);
		}

	}

	[apxu_samosbor_map_block_blockname] {
		z-index: 10;
		align-items: center;
	}

	[apxu_samosbor_map_block_currentfloor] {
		z-index: 10;
		align-items: center;
	}


	[apxu_samosbor_map_block_content] {
		box-sizing: border-box;
		background-color: white;
		cursor: pointer;
		user-select: none;
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
		color: black;
		font-size: 40px;
		display: flex;
		position: relative;
		padding: 10px;
		--stroke-color: var(--block-type-stroke-color);
		border-radius: 10px;

		&::after {
			position: absolute;
			inset: 0px;
			content: "";
			z-index: 100;
			border-radius: 10px;

			width: calc(100% - 0px);
			height: calc(100% - 0px);

			/* border: 10px solid var(--stroke-color); */
			box-shadow: 0 0 10px 10px var(--stroke-color);
			/* blur = 20px, spread = 5px */

		}
	}

	[apxu_samosbor_map_block_middle_row] {
		display: flex;
		gap: 10px;
		background-color: var(--bg);

		[apxu_samosbor_map_block_hallway] {
			background-color: var(--bg);
		}

		[apxu_samosbor_map_block_fence] {
			display: flex;
			align-items: center;
			justify-content: center;
			width: var(--passage-width);
			height: var(--passage-width);
			z-index: 2000;

			&::after {
				content: "";
			}

			&[type=missing] {
				&::after {
					background-color: #00000000;
				}
			}

			&[type=solid] {
				&::after {
					background-color: white;
				}
			}

		}

		&>* {
			background-color: var(--bg);
		}

		[apxu_samosbor_map_block_passage] {
			position: relative;

			&::before {
				box-sizing: border-box;
				content: "";
				width: 100%;
				height: 100%;
				background-color: var(--bg);
				position: absolute;
				/* background-color: var(--main); */
			}
		}

	}

	[apxu_samosbor_map_block_row] {
		display: flex;
		gap: 10px;

		&>* {
			justify-content: center;
			align-items: center;
			background-color: unset !important;
			position: relative;

			&::before {
				box-sizing: border-box;
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				/* background-color: var(--main); */
			}
		}
	}

	[apxu_samosbor_map_block_left_flight] {
		[mol_icon] {
			width: var(--duo-icon-size);
			height: var(--duo-icon-size);

			&:only-child {
				width: var(--solo-icon-size);
				height: var(--solo-icon-size);
			}

			fill: white;
		}
	}

	[apxu_samosbor_map_block_name_part] {
		padding-top: 50px;
		padding-right: 11px;
		padding-bottom: 50px;
		padding-left: 11px;
		gap: 15px;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;

		[apxu_samosbor_map_block_blockname] {
			color: white;
			font-family: "Roboto";
			font-weight: 700;
			font-size: 36px;
			line-height: 100%;
			letter-spacing: 0;
			text-align: center;
		}

		[apxu_samosbor_map_block_currentfloor] {
			color: white;
			font-family: "Roboto";
			font-weight: 700;
			font-size: 28px;
			line-height: 100%;
			letter-spacing: 0;
			text-align: center;
		}

		&[semi-floor] {
			padding: unset;

			[apxu_samosbor_map_block_currentfloor] {
				font-size: 24px;
			}
		}

		&>* {
			/* height: 50%; */
			width: 100%;
			text-align: center;
			vertical-align: middle;
			line-height: 100%;
			display: flex;
			justify-content: center;
		}
	}

	[apxu_samosbor_map_block_info_part],
	[apxu_samosbor_map_block_effects_part] {
		padding-top: 50px;
		padding-right: 11px;
		padding-bottom: 50px;
		padding-left: 11px;
		gap: 15px;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;

		&>* {
			gap: 10px;
			display: flex;
			justify-content: center;
			width: 100%;
			text-align: center;
			vertical-align: middle;
			line-height: 100%;
		}

		[apxu_samosbor_map_block_gen_icon] {
			width: 28px;
			height: 36px;
		}

		[apxu_samosbor_map_block_flooded_icon] {
			width: 34px;
			height: 34px;
		}

		[apxu_samosbor_map_block_roof_icon] {
			width: 36px;
			height: 30px;
		}

		[apxu_samosbor_map_block_generator_floor],
		[apxu_samosbor_map_block_flooded_floor_view],
		[apxu_samosbor_map_block_roof_floor_view] {
			z-index: 1000;
			color: white;
			font-family: "Roboto";
			font-weight: 700;
			font-size: 28px;
			line-height: 100%;
			letter-spacing: 0;
			text-align: center;
			align-items: center;
		}
	}

	&[direction=up],
	&[direction=down] {
		[apxu_samosbor_map_block_row] {
			width: 100%;
			height: var(--part-width);
		}

		[apxu_samosbor_map_block_content] {
			width: var(--width);
			height: var(--height);
		}

		[apxu_samosbor_map_block_hallway] {
			width: 100%;
			height: var(--passage-width);
		}

		[apxu_samosbor_map_block_passage] {
			width: var(--passage-width);
			height: var(--part-width);

			&[type=normal],
			&[type=stairs_up],
			&[type=stairs_down] {
				&::before {
					height: calc(var(--part-width) + 25px);
				}
			}

			&[type=noway] {
				&::before {
					width: calc(var(--passage-width) + 25px);
				}
			}
		}

		[apxu_samosbor_map_block_middle_flight] {
			width: var(--passage-width);
			height: var(--part-width);
			flex-direction: column;
		}

		[apxu_samosbor_map_block_middle_row] {
			[apxu_samosbor_map_block_passage] {
				width: var(--part-width);
				height: var(--passage-width);

				&[type=normal],
				&[type=stairs_up],
				&[type=stairs_down] {
					&::before {
						width: calc(var(--part-width) + 25px);
						height: var(--passage-width);
					}
				}
			}

			[apxu_samosbor_map_block_left_crossroad],
			[apxu_samosbor_map_block_right_crossroad] {
				width: var(--passage-width);
				height: var(--passage-width);
			}

			[apxu_samosbor_map_block_left_hallway],
			[apxu_samosbor_map_block_right_hallway] {
				width: var(--part-width);
			}

			[apxu_samosbor_map_block_fence] {
				&::after {
					width: 10px;
					height: calc(100% + 10px);
				}

				&[type=hole] {
					&::after {
						background:
							linear-gradient(to bottom,
								white 0%,
								white 35%,
								transparent 35%,
								transparent 65%,
								white 65%,
								white 100%);
					}
				}
			}
		}
	}

	;

	&[direction=left],
	&[direction=right] {
		[apxu_samosbor_map_block_row] {
			width: var(--part-width);
			height: 100%;
		}

		[apxu_samosbor_map_block_content] {
			width: var(--height);
			height: var(--width);

			--stroke-length-vertical: var(--stroke-length-top);
			/* Длина штриха ВЕРТИКАЛЬНЫХ линий */
			--empty-length-vertical: var(--empty-length-top);
			/* Длина пропуска ВЕРТИКАЛЬНЫХ линий */
			--stroke-length-horizontal: var(--stroke-length-left);
			/* Длина штриха ГОРИЗОНТАЛЬНЫХ линий */
			--empty-length-horizontal: var(--empty-length-left);
			/* Длина пропуска ГОРИЗОНТАЛЬНЫХ линий */
		}

		;

		[apxu_samosbor_map_block_hallway] {
			width: var(--passage-width);
			height: 100%;
		}

		[apxu_samosbor_map_block_passage] {
			width: var(--part-width);
			height: var(--passage-width);

			&[type=normal],
			&[type=stairs_up],
			&[type=stairs_down] {
				&::before {
					width: calc(var(--part-width) + 25px);
				}
			}

			&[type=noway] {
				&::before {
					height: calc(var(--passage-width) + 25px);
				}
			}
		}

		[apxu_samosbor_map_block_middle_flight] {
			height: var(--passage-width);
			width: var(--part-width);
			flex-direction: row;
		}

		[apxu_samosbor_map_block_middle_row] {
			[apxu_samosbor_map_block_passage] {
				height: var(--part-width);
				width: var(--passage-width);

				&[type=normal],
				&[type=stairs_up],
				&[type=stairs_down] {
					&::before {
						height: calc(var(--part-width) + 25px);
						width: var(--passage-width);
					}
				}
			}

			[apxu_samosbor_map_block_left_crossroad],
			[apxu_samosbor_map_block_right_crossroad] {
				width: var(--passage-width);
				height: var(--passage-width);
			}

			[apxu_samosbor_map_block_left_hallway],
			[apxu_samosbor_map_block_right_hallway] {
				height: var(--part-width);
			}

			[apxu_samosbor_map_block_fence] {
				flex-direction: column;

				&::after {
					width: calc(100% + 10px);
					height: 10px;
				}

				&[type=hole] {
					&::after {
						background:
							linear-gradient(to right,
								white 0%,
								white 35%,
								transparent 35%,
								transparent 65%,
								white 65%,
								white 100%);
					}
				}
			}
		}
	}

	&[direction=up] {
		[apxu_samosbor_map_block_content] {
			flex-direction: column;
		}

		[apxu_samosbor_map_block_row] {
			flex-direction: row;
		}

		[apxu_samosbor_map_block_passage] {
			&[left] {
				&::before {
					left: 0px;
				}

				[apxu_samosbor_map_block_passage_interfloor] {
					flex-direction: row;
				}
			}

			&[right] {
				&::before {
					right: 0px;
				}

				[apxu_samosbor_map_block_passage_interfloor] {
					flex-direction: row-reverse;
				}
			}

			&[up] {
				&::before {
					top: 0px;
				}

				[apxu_samosbor_map_block_passage_interfloor] {
					flex-direction: column;
				}
			}

			&[down] {
				&::before {
					bottom: 0px;
				}

				[apxu_samosbor_map_block_passage_interfloor] {
					flex-direction: column-reverse;
				}
			}


		}

		[apxu_samosbor_map_block_name_part] {
			left: var(--pos);
			top: 0px;
		}

		[apxu_samosbor_map_block_middle_row] {
			flex-direction: row;
		}
	}

	&[direction=down] {
		[apxu_samosbor_map_block_content] {
			flex-direction: column-reverse;
		}

		[apxu_samosbor_map_block_row] {
			flex-direction: row-reverse;
		}

		[apxu_samosbor_map_block_passage] {
			&[left] {
				&::before {
					right: 0px;
				}

				[apxu_samosbor_map_block_passage_interfloor] {
					flex-direction: row-reverse;
				}
			}

			&[right] {
				&::before {
					left: 0px;
				}

				[apxu_samosbor_map_block_passage_interfloor] {
					flex-direction: row;
				}
			}

			&[up] {
				&::before {
					bottom: 0px;
				}

				[apxu_samosbor_map_block_passage_interfloor] {
					flex-direction: column-reverse;
				}
			}

			&[down] {
				&::before {
					top: 0px;
				}

				[apxu_samosbor_map_block_passage_interfloor] {
					flex-direction: column;
				}
			}
		}

		[apxu_samosbor_map_block_middle_row] {
			flex-direction: row-reverse;
		}
	}

	&[direction=left] {
		[apxu_samosbor_map_block_content] {
			flex-direction: row;
		}

		[apxu_samosbor_map_block_row] {
			flex-direction: column-reverse;
		}

		[apxu_samosbor_map_block_passage] {
			&[left] {
				&::before {
					bottom: 0px;
				}

				[apxu_samosbor_map_block_passage_interfloor] {
					flex-direction: column-reverse;
				}
			}

			&[right] {
				&::before {
					top: 0px;
				}

				[apxu_samosbor_map_block_passage_interfloor] {
					flex-direction: column;
				}
			}

			&[up] {
				&::before {
					left: 0px;
				}

				[apxu_samosbor_map_block_passage_interfloor] {
					flex-direction: row;
				}
			}

			&[down] {
				&::before {
					right: 0px;
				}

				[apxu_samosbor_map_block_passage_interfloor] {
					flex-direction: row-reverse;
				}
			}
		}

		[apxu_samosbor_map_block_middle_row] {
			flex-direction: column-reverse;
		}
	}

	&[direction=right] {
		[apxu_samosbor_map_block_content] {
			flex-direction: row-reverse;
		}

		[apxu_samosbor_map_block_row] {
			flex-direction: column;
		}

		[apxu_samosbor_map_block_passage] {
			&[left] {
				&::before {
					top: 0px;
				}

				[apxu_samosbor_map_block_passage_interfloor] {
					flex-direction: column;
				}
			}

			&[right] {
				&::before {
					bottom: 0px;
				}

				[apxu_samosbor_map_block_passage_interfloor] {
					flex-direction: column-reverse;
				}
			}

			&[up] {
				&::before {
					right: 0px;
				}

				[apxu_samosbor_map_block_passage_interfloor] {
					flex-direction: row-reverse;
				}
			}

			&[down] {
				&::before {
					left: 0px;
				}

				[apxu_samosbor_map_block_passage_interfloor] {
					flex-direction: row;
				}
			}
		}

		[apxu_samosbor_map_block_middle_row] {
			flex-direction: column;
		}
	}
}
