@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
	font-family: "Space Mono";
	src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
	font-weight: 700;
	font-style: normal;
}

[apxu_samosbor_map_block_card] {
	/* position: absolute; */
	width: 287px;
	/* height: 482px; */
	max-height: 100%;
	background-color: #121212;
	border-radius: 5px;

	user-select: none;


	--main-color: #676767;
	--edit-color: #1e1e1e;



	[mol_icon] {
		filter: unset;
	}

	z-index: 1000;

	[mol_number] {
		[mol_string] {
			padding: 3px;
			/* text-align: right; */
		}

	}
}

[apxu_samosbor_map_block_card_content] {
	touch-action: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-gutter: stable;
	padding: 15px;

	&>* {
		border-bottom: 3px solid var(--main-color);
		padding-top: 5px;
		padding-bottom: 5px;
		width: 100%;
		justify-content: center;
	}

	&> :last-child {
		border-bottom: none;
	}

	width: 100%;
	height: 100%;
}


[apxu_samosbor_map_block_card_header] {
	width: 100%;
	display: flex;
	flex-direction: row;


	display: flex;
	align-items: center;
}

[apxu_samosbor_map_block_card_misc_buttons] {
	position: absolute;
	right: 100%;
	display: flex;
	flex-direction: column;
	gap: 6px;
	padding: 5px;
	border-bottom: none;
	width: unset;

	&>* {
		width: 44px;
		height: 44px;
		background-color: #121212;
		justify-content: center;
		color: var(--main-color);
	}
}

[apxu_samosbor_map_block_card_control_buttons] {
	position: absolute;
	left: 100%;
	display: flex;
	flex-direction: column;
	gap: 6px;
	padding: 5px;
	border-bottom: none;

	&>* {
		width: 44px;
		height: 44px;
		background-color: #121212;
		justify-content: center;
		color: var(--main-color);
	}

}

[apxu_samosbor_map_block_card_edit_icon] {
	width: 20px;
	height: 20px;
}

[apxu_samosbor_map_block_card_close_icon] {
	width: 30px;
	height: 30px;
}

[apxu_samosbor_map_block_card_delete_icon] {
	width: 20px;
	height: 20px;
}

[apxu_samosbor_map_block_card_block_name_input] {
	width: 141px;
	height: 50px;
	padding: 0px;
	flex: unset;
	font-family: "Roboto";
	font-weight: 700;
	font-size: 48px;
	line-height: 12px;
	letter-spacing: 0;
	text-align: center;
	color: var(--main-color) !important;
}

[apxu_samosbor_map_block_card_block_size] {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	width: 55px;
	height: 46px;

	&>* {
		justify-content: space-between;
		align-items: center;
		height: 16px;



		gap: 5px;

		[mol_string] {
			font-family: "Roboto";
			font-weight: 700;
			font-size: 18px;
			line-height: 20px;
			letter-spacing: 0;
			text-align: center;
			color: var(--main-color) !important;
		}

		&>[mol_icon] {
			width: 16px;
			height: 16px;
			fill: var(--main-color);
		}
	}
}

[apxu_samosbor_map_block_card_block_info] {
	border-right: 2px solid var(--main-color);
	padding: 5px;
	gap: 10px;

	flex-direction: column;
}

[apxu_samosbor_map_block_card_flights] {
	width: 100%;
	justify-content: space-between;
	gap: 10px;
	align-items: center;

	&>[mol_button]:not([edit-mode]) {
		visibility: hidden;
	}
}

[apxu_samosbor_map_block_card_flight_view] {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	&[middle] {
		justify-content: center;
	}

	flex: 1;

	&>* {
		gap: 5px;
	}

	&>&>* {
		width: 20px;
		height: 20px;
	}
}

[apxu_samosbor_map_block_card_block_buttons] {
	padding: 5px;
	flex-direction: column;

	&>* {
		background-color: unset;
	}
}

[apxu_samosbor_map_block_card_coordinates] {
	flex-direction: column;
	width: 86px;
	gap: 10px;

	[mol_button_minor] {
		width: 10px;
		height: 15px;
		padding: 0px;
	}
}

[apxu_samosbor_map_block_card_position_info] {
	&:not([edit-mode]) {
		display: none;
	}
}

[apxu_samosbor_map_block_card_pos_controller] {
	display: grid;
	grid-template-columns: 30px 30px 30px;
	grid-template-rows: 30px 30px 30px;
	gap: 10px;

	&>* {
		padding: 0;
		align-self: center;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;

		&>* {
			width: 30px;
			height: 30px;
		}
	}
}

[apxu_samosbor_map_block_card_up_button] {
	grid-area: 1 / 2 / 2 / 3;
}

[apxu_samosbor_map_block_card_right_button] {
	grid-area: 2 / 3 / 3 / 4;
}

[apxu_samosbor_map_block_card_down_button] {
	grid-area: 3 / 2 / 4 / 3;
}

[apxu_samosbor_map_block_card_left_button] {
	grid-area: 2 / 1 / 3 / 2;
}

[apxu_samosbor_map_block_card_rotate_button] {
	grid-area: 2 / 2 / 3 / 3;
}

[apxu_samosbor_map_block_card_checkboxes] {
	flex-direction: column;
}

[apxu_samosbor_map_block_card_double_floor],
[apxu_samosbor_map_block_card_pipe_block] {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

[apxu_samosbor_map_block_card_double_floor_icon],
[apxu_samosbor_map_block_card_pipe_block_icon] {
	width: 30px;
	height: 30px;
	color: var(--main-color);
}

[apxu_samosbor_map_block_card_block_type_view] {
	align-items: center;
}

[apxu_samosbor_map_block_card_type_select_icon] {
	/* width: 7px; */
	height: 6px;
	/* margin-right: 7px; */
}

[apxu_samosbor_map_block_card_place] {
	flex-direction: column;
	align-items: center;
	gap: 5px;

	width: 28px;
	min-width: unset;

	[mol_icon] {
		width: 24px;
		height: 24px;
	}

	[mol_string] {
		text-align: center;
	}

	&:not([enabled]) {
		[apxu_samosbor_map_block_card_place_add_input] {
			display: none;
		}
	}
}

[apxu_samosbor_map_block_card_place_icon] {
	width: 24px;
	height: 24px;
}


[apxu_samosbor_map_block_card_number_input],
[apxu_samosbor_map_block_card_floor_input] {
	width: 4ch;
	padding: unset;
}

[apxu_samosbor_map_block_card_balcony_icon] {
	color: var(--main-color);
	height: 1rem;
	align-self: center;
}

[mol_check]:not([mol_check_checked])>[apxu_samosbor_map_block_card_balcony_icon] {
	opacity: 0.5;
}

[apxu_samosbor_map_block_card_professions] {
	gap: 30px;
}

[apxu_samosbor_map_block_card_places] {
	gap: 30px;
}

[apxu_samosbor_map_block_card_features] {
	gap: 15px;
	flex-wrap: wrap;
	justify-content: flex-start;
}

[apxu_samosbor_map_block_card_rights] {
	/* position: absolute;
	top: 100%;
	left: auto;
	right: auto */
}

[apxu_samosbor_map_block_card_rights] {
	/* max-height: 200px; */
	overflow-y: auto;
}

[apxu_samosbor_map_block_card_rights_gift] {
	min-width: 0;
}

[apxu_samosbor_map_block_card_rights_gift_peer] {
	min-width: 0;
	flex-shrink: 1;
}

[apxu_samosbor_map_block_card_rights_gift_name] {
	overflow-x: scroll;
	-ms-overflow-style: none;
	/* IE 10+ */
	scrollbar-width: none;
	/* Firefox */
	min-width: 0;
	flex-shrink: 1;
}

[apxu_samosbor_map_block_card_flight_left_button] {
	width: 19px;
	height: 28px;
	background-color: var(--edit-color);
	justify-content: center;
	padding: unset;
}

[apxu_samosbor_map_block_card_flight_left_icon] {
	width: 200%;
	height: 200%;
	fill: var(--main-color);
}

[apxu_samosbor_map_block_card_flight_right_button] {
	width: 19px;
	height: 28px;
	background-color: var(--edit-color);
	justify-content: center;
	padding: unset;
}

[apxu_samosbor_map_block_card_flight_right_icon] {
	width: 200%;
	height: 200%;
	fill: var(--main-color);
}

[apxu_samosbor_map_block_card_port] {
	flex-direction: column;
	padding: 5px;
}

[apxu_samosbor_map_block_card_port_coordinate] {
	gap: 10px;
}

[apxu_samosbor_map_block_card_transitions_list] {
	flex-wrap: wrap;
}

[apxu_samosbor_map_block_card_main_buttons] {
	justify-content: space-between;
}
