[apxu_samosbor_map_area] {
	width: 300px;
	height: 300px;
	overflow: hidden;
	/* border: 2px solid seagreen; */
	cursor: grab;

	&[dragging] {
		cursor: grabbing;
	}

	display: block;
}

[apxu_samosbor_map_area_plane] {
	position: relative;
	width: 0px;
	height: 0px;
	transition: none;
}
